*
!.gitignore
!src/scripts/postinst
!src/scripts/prerm
!config.ini
!src/
!create_pkg.sh
!src/c/
!src/c/Makefile
!src/c/udas.*
!src/c/udas_common.*
!src/c/udas_detector.*
!src/c/udas_listener.*
!src/python/
!src/python/udas/
!src/python/udas/*.py
!src/python/*.py
!src/python/udas/requirements.txt
!src/scripts/
!src/scripts/*